<div>
  <h3>Category: {{(saleToDisplay | async)?.category}}</h3>
  <h3>{{(saleToDisplay | async)?.title}}</h3>
  <h4>${{(saleToDisplay | async)?.price}}</h4>
  <p>Description: {{(saleToDisplay | async)?.description}}</p>
  <p>Location: {{(saleToDisplay | async)?.location}}</p>
  <p>Condition: {{(saleToDisplay | async)?.condition}}</p>
  <p>Contact: {{(saleToDisplay | async)?.contact}}</p>
  <p>Posting date: {{(saleToDisplay | async)?.date}}</p>
  <img src="{{(saleToDisplay | async)?.image}}" alt="broken image">
</div>
