<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Epilist</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="for-sale">Crap for Sale</a></li>
      <li><a routerLink="post">New Post</a></li>
    </ul>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
</div>
